:root {
    --color__main-black: #22252E;
    --color__primary-black: #000000;
    --color__secondary-black: #323642;
    --color__main: #4CB649;
    // Если меняете основной цвет - меняйте и градиент ниже.
    --color__main-grey: #889099;
    --color__main-white: #FFFFFF;
    --color__main-orange: #FF8D00;
    --color__background-dark: #22252E;
    --color__background-grey: #F7F7F7;
    --main__gradient-dark: linear-gradient(135deg, #3D4251 0%, #272B35 100%);
    --main__gradient: linear-gradient(0deg, #4CB649 0%, #5DDF5A 100%);
    --main__gradient-orange: linear-gradient(0deg, #FF8D00 3.81%, #FFA400 97.78%);
    --main__shadow: 0px 5px 10px 1px rgba(207,207,207,1);
}