.home {
    width: 75rem;
    &__info {
        width: 100%;
        margin-top: 2.5rem;
        border: 1px solid #D7D8D9;
        border-radius: 6px;
        min-height: 25rem;
        box-shadow: var(--main__shadow);
    }
    &__info-pic {
        width: 50%;
        height: 25rem;
        border-radius: 6px 0 0 6px ;
        background-image: url('/img/home/home-info-pic.png');
        background-size: 100%;
    }
    &__info-descr {
        width: 50%;
        padding: 4rem 4rem 2rem;
    }   
    &__info-descr__title {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    &__info-descr__text {
        margin-top: 5.5rem;
        p {
            margin-top: 1rem;
            &:nth-child(1) {
                font-size: 0.875rem;
                span {
                    color: var(--color__main-grey);
                    margin-left: 0.5rem;
                }
            }
            &:nth-child(2) {
                font-size: 0.75rem;
                color: var(--color__main);
                text-transform: uppercase;
            }
            &:nth-child(3) {
                font-size: 0.875rem;
                color: var(--color__main-grey);
                svg {
                    margin-right: 0.5rem;
                }
            }
        }
    }
    &__nav {
        width: 100%;
        height: 5rem;
        margin-top: 2rem;
        background-color: var(--color__background-grey);
        border-radius: 4px;
    }
    &__nav-wrapper {
        margin-left: 2rem;
    }
    &__nav-title {
        margin-right: 1rem;
        font-weight: 500;
    }
    &__nav-link {
        margin: 0 1rem;
        text-decoration: none;
        color: var(--color__main);
        font-weight: 500;
        text-transform: uppercase;
    }
    &__contact {
        margin-right: 1rem;
    }
    &__contact-link {
        margin: 0 1rem;
        color: var(--color__secondary-black);
        font-weight: 500;
        text-transform: uppercase;
        text-decoration: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .home {
        width: 100%;
        &__info {
            width: 42rem;
            margin: 2.5rem auto;
            border: 1px solid #D7D8D9;
            border-radius: 0;
            flex-direction: column;
        }
        &__info-pic {
            width: 100%;
        }
        &__info-descr {
            width: 100%;
        }   
        &__nav {
            width: 100%;
            border-radius: 0;
        }
        &__nav-wrapper {
            margin-left: 1rem;
        }
        &__nav-link {
            margin: 0 0.5rem;
            font-size: 0.9rem;
        }
        &__contact {
            margin-right: 0.5rem;
        }
        &__contact-link {
            margin: 0 0.5rem;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {
    .home {
        width: 100%;
        padding: 0 1.5rem;
        &__info {
            width: 17rem;
            margin: 0 auto;
            margin-top: 3rem;
            border-radius: 0;
            flex-direction: column;
        }
        &__info-pic {
            height: 11rem;
            width: 100%;
            border-radius: 0;
        }
        &__info-descr {
            padding: 1.5rem 2rem 1rem 2rem;
            width: 100%;
        } 
        &__info-descr__text {
            margin-top: 1rem;
        }     
        &__nav {
            display: none;
        }
        &__nav-wrapper {
            margin-left: 1rem;
        }
        &__nav-link {
            margin: 0 0.5rem;
            font-size: 0.9rem;
        }
        &__contact {
            margin-right: 0.5rem;
        }
        &__contact-link {
            margin: 0 0.5rem;
        }
    }
}