.info {
    position: relative;
    width: 75rem;
    margin-top: 2.5rem;
    &__posts {
        width: 50rem;
        padding-right: 5rem;
        border-right: 1px solid #EBECED;
    }
    &__posts-wrapper {
        position: absolute;
        right: 0;
    }
    &__posts-search {
        position: relative;
        width: 21rem;
        padding: 1.2rem 0.5rem 1rem 3rem;
        border: 1px solid #D7D8D9;
        border-radius: 4px;
        outline: none;
    }
    &__posts-icon {
        position: absolute;
        left: 1rem;
        top: 1.2rem;
    }
    &__posts-title {
        font-size: 2rem;
        font-weight: 300;
    }
    &__posts-btns {
        margin-top: 2.5rem;
        text-align: center;
    }
    &__posts-btn {
        width: 16rem;
    }
    &__side {
       width: 21.25rem;
       margin-top: 3rem; 
       margin-left: 3.5rem;
    }
    &__side-container {
        padding-bottom: 1.5rem;
        padding-top: 2.5rem;
        ul {
            padding-left: 1.5rem;
            li {
                font-size: 0.9rem;
                line-height: 1.4rem;
                margin-top: 1rem;
                color: var(--color__main);
                span {
                    color: var(--color__secondary-black);
                }
            }
        }
        &:nth-child(1), &:nth-child(2) {
            border-bottom: 1px solid #EBECED;
        }
        &:last-child {
            padding-top: 0;
            img {
                position: relative;
                left: -1rem;
                margin-top: 1rem;
            }
        }
    }
    &__side-title {
        font-size: 1.5rem;
        p {
            margin-left: 1rem;
        }
        svg {
            path {
                stroke: var(--color__main);
                &:nth-child(2) {
                    fill: var(--color__main);
                }
            }
            ellipse {
                stroke: var(--color__main);
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
    .info {
        width: 100%;
        &__container {
            flex-direction: column;
        }
        &__posts {
            width: 40rem;
            margin: 0 auto;
            padding-right: 0;
            border-right: none;
        }
        &__posts-wrapper {
            position: relative;
            margin-bottom: 2rem;
        }
        &__posts-search {
            width: 100%;
        }
        &__posts-title {
            text-align: center;
        }
        &__side {
           width: 100%;
           margin-top: 3rem; 
           margin-left: 0;
        }
        &__side-container {
            width: 40rem;
            margin: 0 auto;
            &:nth-child(3) {
                text-align: center;
            }
            &:nth-child(4) {
                text-align: center;
                img {
                    position: relative;
                    left: 1rem;
                }
            }
        }
        &__side-title {
            justify-content: center;
        }
    }
}

@media screen and (min-width: 300px) and (max-width: 767.5px) {
    .info {
        width: 100%;
        padding: 0 1.5rem;
        &__container {
            flex-direction: column;
        }
        &__posts {
            width: 17rem;
            margin: 0 auto;
            padding-right: 0;
            border-right: none;
        }
        &__posts-wrapper {
            position: relative;
            margin-bottom: 2rem;
        }
        &__posts-search {
            width: 100%;
        }
        &__posts-title {
            text-align: center;
        }
        &__side {
           width: 100%;
           margin-top: 3rem; 
           margin-left: 0;
        }
        &__side-container {
            width: 17rem;
            margin: 0 auto;
            &:nth-child(3) {
                text-align: center;
                img {
                    width: 16rem;
                }
            }
            &:nth-child(4) {
                text-align: center;
                img {
                    width: 16rem;
                    position: relative;
                    left: 0;
                }
            }
        }
        &__side-title {
            justify-content: center;
        }
    }
}
